<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fishware_v5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Fishware_v5.Properties.Settings>
            <setting name="headercolour" serializeAs="String">
                <value>#FF3971E6</value>
            </setting>
            <setting name="sidebarcolour" serializeAs="String">
                <value>#FF2F61CB</value>
            </setting>
            <setting name="titlecolour" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="subtitlecolour" serializeAs="String">
                <value>#FF9BB8F5</value>
            </setting>
            <setting name="boxcolour" serializeAs="String">
                <value>#ffffff</value>
            </setting>
        </Fishware_v5.Properties.Settings>
    </userSettings>
</configuration>